<div class="container">
  <div class="row text-center">
    <div class="col-12 text-center my-5">
      <h1 class="page-title">
        Account
      </h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <ul class="nav">
        <li class="nav-item">
          <div class="nav-link">Benvenuto, {{account.name}}</div>
        </li>
      </ul>
       <ul class="nav">
        <li class="nav-item">
          <a class="nav-link disabled" href="/user/account">Dati utente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/account/orders">I tuoi ordini</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log out</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="card my-5">
        <div class="card-body">
          <h5 class="card-title">Dati utente</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="card-title">Nome</h5>
            <p class="card-text">{{account.name}}</p>
          </li>
          <li class="list-group-item">
            <h5 class="card-title">E-mail</h5>
            <p class="card-text">{{account.email}}</p>
          </li>
          <li class="list-group-item">
            <h5 class="card-title">Telefono</h5>
            <!--Se esiste un numero di telefono mostralo, oppure digli che non ne ha inserito nessuno-->
            {{#if account.phone}}
              <p class="card-text">{{account.phone}}</p>
              {{else}}
                <p class="card-text">Non hai ancora inserito un numero di telefono</p>
            {{/if}}
          </li> 
        </ul>
        <div class="card-body">
          <a class="btn btn-primary" href="/user/account/edit">Modifica</a>
        </div>
      </div>
    </div>
  </div>
</div>