<section class="t-page__section c-profile">
  <div class="container">
     <div class="row text-center">
       <div class="col title">
          <p>Dati utente</p>
          <h3>Account</h3>
       </div>
     </div>
    <div class="row">
      <div class="col-3 side-navigation">
          <ul>
            <li class="welcome">
              Benvenuto, {{account.name}}
            </li>
            <li class="active">
              <a href="/user/account">Dati utente</a>
            </li>
            <li>
              <a href="/user/account/orders">I tuoi ordini</a>
            </li>
            <li>
              <a href="/logout">Log out</a>
            </li>
          </ul>
      </div>
      <div class="col-9">

        <div class="card mb-4">
          <div class="header">
            <div class="head-title">
              <h4>Dati utente</h4>
              <!--<label>Predefinito</label>-->
            </div>
            <div class="actions">
              <a href="/user/account/edit">Modifica</a>
            </div>
          </div>
          <div class="body">
            <div class="campo">
              <div class="text">
                <div class="text">
                  <h4>Nome</h4>
                  <p>{{account.name}}</p>
                </div>
              </div>
            </div>
            <div class="campo">
              <div class="text">
                <h4>E-mail</h4>
                <p>{{account.email}}</p>
              </div>
            </div>
            <div class="campo">
              <div class="text">
                <h4>Telefono</h4>
                {{#if account.phone}}
                  <p>{{account.phone}}</p>
                {{else}}
                  <p class="disabled">Non hai ancora inserito un numero di telefono</p>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>