
<section class="t-page__section c-product">
  <div class="container">
    {{#each posts}}
    <div class="row">
      <div class="col">
        <a href="/blog/{{slug}}/{{number}}"><h1 class="text-center">{{title}}</h1></a>
        {{{body}}}
        <h1>&nbsp;</h1>
      </div>
    </div>
    {{/each}}
</section>

<section class="t-page__section">
  <div class="c-cards">
    <div class="container">
      <ul class="pagination">
        <li class="page-item">
            {{#if paginator.prev}}
            <a class="page-link" href="{{paginator.prev}} ">&lt;</a>
            {{else}}
            <a class="page-link disabled">&lt;</a>
            {{/if}}
        </li>
        <li class="page-item">
            <a class="page-link disabled">pagina {{paginator.current}} di {{paginator.totalPage}}</a>
        </li>
        {{#if paginator.next}}
            <a class="page-link" href="{{paginator.next}}">&gt;</a>
            {{else}}
            <a class="page-link disabled">&gt;</a>
        {{/if}}
      </ul>
    </div>
  </div>
</section>
