<!--collection-all.hbs mostra tutti i prodotti di tutte le collezioni-->
<div class="container">
	<div class="row">
		<div class="col-12 my-5">
			<h1 class="page-title">
				Catalogo prodotti
			</h1>
		</div>
		<div class="col-12 mb-4">
			<p><b>Ordina per:</b></p>
			<div class="dropdown mb-4">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{#ifEquals activeNavigation 'lastarr'}} Ultimi arrivi {{/ifEquals}}
					{{#ifEquals activeNavigation 'nameaz'}} Nome A-Z {{/ifEquals}}
					{{#ifEquals activeNavigation 'nameza'}} Nome Z-A {{/ifEquals}}
					{{#ifEquals activeNavigation 'priceasc'}} Prezzo crescente {{/ifEquals}}
					{{#ifEquals activeNavigation 'pricedesc'}} Prezzo decrescente {{/ifEquals}}
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					{{#if navigation.lastarr}}
						<a class="dropdown-item " href="{{navigation.lastarr}}">Ultimi arrivi</a>
					{{else}}
						<a class="dropdown-item disabled">Ultimi arrivi</a>
					{{/if}}
					{{#if navigation.nameaz}}
						<a class="dropdown-item " href="{{navigation.nameaz}}">Nome A-Z</a>
					{{else}}
						<a class="dropdown-item disabled">Nome A-Z</a>
					{{/if}}
					{{#if navigation.nameza}}
						<a class="dropdown-item " href="{{navigation.nameza}}">Nome Z-A</a>
					{{else}}
						<a class="dropdown-item disabled">Nome Z-A</a>
					{{/if}}
					{{#if navigation.priceasc}}
						<a class="dropdown-item " href="{{navigation.priceasc}}">Prezzo crescente</a>
					{{else}}
						<a class="dropdown-item disabled">Prezzo crescente</a>
					{{/if}}
					{{#if navigation.pricedesc}}
						<a class="dropdown-item " href="{{navigation.pricedesc}}">Prezzo decrescente</a>
					{{else}}
						<a class="dropdown-item disabled">Prezzo decrescente</a>
					{{/if}}
				</div>
			</div>

			{{#if tags.length}}
				<p><b>Filtra:</b></p>
				<ul class="pagination d-flex flex-wrap">
					<li class="page-item">
						{{#if activeTag}}
								<a class="page-link {{#if activeTag}} {{else}} active disabled {{/if}}"
								{{#if activeTag}} href="/collections/all" {{/if}}
								><i class="far fa-circle"></i> Tutti</a>
						{{else}}
							<a class="page-link"{{#if activeTag}} href="/collections/all" {{/if}}>
								<i class="fas fa-circle"></i> 
								Tutti
							</a>
						{{/if}}
					</li>
					{{#each tags}}
					<li class="page-item">
						{{#ifEquals ../activeTag @this}}
							<a class="page-link active disabled"
							{{#ifNotEquals ../activeTag @this}} href="/collections/all{{../slug}}/{{URIEncoding @this}}?{{../currentQuery}}" {{/ifNotEquals}}
							><i class="fas fa-circle"></i> {{@this}}</a>
						{{else}}
								<a class="page-link"
								{{#ifNotEquals ../activeTag @this}} href="/collections/all{{../slug}}/{{URIEncoding @this}}?{{../currentQuery}}" {{/ifNotEquals}}
								><i class="far fa-circle"></i> {{@this}}</a>
						{{/ifEquals}}
					</li>
					{{/each}}
				</ul>
			{{/if}}
		</div>

	
		<div class="col-12">
			<div class="row">
				{{#each products}}
					<div class="col-md-4 col-6 mb-4">
						<a href="{{~#if first_available_variant}}{{~first_available_variant.url}}{{~else}}{{url}}{{~/if}}">
							<div class="card">
								{{#if available}}
									{{#if isNew}} 
										<span class="badge badge-primary">New</span>
									{{/if}}
									{{else}}
									<span class="badge badge-secondary">Esaurito</span>
								{{/if}}
								<div class="card-img-top-container">
									<img class="card-img-top" src="{{#if images}}{{images.[0]}}{{else}}../../public/assets/images/products/empty.jpg{{/if}}" alt="{{name}}"> <!--#If che utilizza un'immagine placeholder nel caso non esistano immagini del oggetto-->
								</div>
								<div class="card-body">
									<h5 class="card-title">{{name}}</h5>
									{{#if has_only_default_variant}}
										<span>€{{price}}</span>
									{{else}}
										{{#if price_varies}}
											<span>da €{{price_min}} a €{{price_max}}</span>
										{{else}}
											<span>€{{price}}</span>
										{{/if}}
									{{/if}}	
								</div>
							</div>
						</a> 
					</div>
				{{/each}}
			</div>

			<div class="container">
				<div class="row justify-content-end">
						{{#if paginator.prev}}
							<a class="page-link pagination d-flex" href="{{paginator.prev}} "><i class="material-icons">chevron_left</i></a>
						{{else}}
							<a class="page-link pagination d-flex disabled"><i class="material-icons">chevron_left</i></a>
						{{/if}}
						<a class="page-link pagination disabled d-flex">Pagina {{paginator.current}} di {{paginator.totalPage}}</a>
					{{#if paginator.next}}
						<a class="page-link pagination d-flex" href="{{paginator.next}}"><i class="material-icons">chevron_right</i></a>
					{{else}}
						<a class="page-link pagination disabled d-flex"><i class="material-icons">chevron_right</i></a>
					{{/if}}
				</div>
			</div>
	
		</div>
	</div>
</div>
