<div class="container">
  <div class="row">
    <div class="col-12 text-center my-5">
      <h1>{{shop.name}}</h1> <!--Nome dell shop. Modificabile dalla Dashboard > Canali > Shop > Configurazione > Nome-->
    {{#if allCollections.[0]}}
     <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {{#each allCollections}}
        <div class="carousel-item {{#ifEquals @index 0}}active{{/ifEquals}} ">
          <img class="d-block w-100" src="{{#if this.image}}{{this.image}}{{else}}public/assets/images/products/empty.jpg{{/if}}" alt="{{this.name}}">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{this.name}}</h5>
            {{{this.description}}}
          </div>
        </div>
        {{/each}}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div> 
    {{/if}}
    </div>
    {{#each products}} <!--Mostra ogni prodotto dal primo all'ultimo (ord. di aggiunta dal più vecchio). Nell'index vengono mostrati fino a massimo 12 prodotti-->
    <div class="col-6 mb-4">
      <a href="{{~#if first_available_variant}}{{~first_available_variant.url}}{{~else}}{{url}}{{~/if}}">
        <div class="card">
          {{#if available}}
              {{#if isNew}} 
                <span class="badge badge-primary">New</span>
              {{/if}}
            {{else}}
            <span class="badge badge-secondary">Esaurito</span>
          {{/if}}
          <div class="card-img-top-container">
            <img class="card-img-top" src="{{#if images}}{{images.[0]}}{{else}}public/assets/images/products/empty.jpg{{/if}}" alt="{{name}}"> <!--#If che utilizza un'immagine placeholder nel caso non esistano immagini del oggetto-->
          </div>
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            {{#if has_only_default_variant}}
              <span>€{{price}}</span>
            {{else}}
              {{#if price_varies}}
                <span>da €{{price_min}} a €{{price_max}}</span>
              {{else}}
                <span>€{{price}}</span>
              {{/if}}
            {{/if}}	
          </div>
        </div>
      </a> 
    </div>
    {{/each}}
  </div>

  <div class="row justify-content-center">
    <div class=" mt-5 col-12 text-center mb-5">
      <h1>Collezioni</h1>
    </div>
    {{#each allCollections}}<!--Ciclo each per mostrare le collezioni-->
    <div class="col-6 mb-4">
      <a href="{{url}}">
        <div class="card">
          <div class="card-img-top-container">
            <img class="card-img-top" src="{{#if image}}{{image}}{{else}}public/assets/images/products/empty.jpg{{/if}}" alt="{{name}}"> 
          </div>
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
          </div>
        </div>
      </a> 
    </div>	
    {{/each}}
  </div>
</div>