<!doctype html>
<html lang="it">

<head>
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    {{#if metaTitle}}
    <meta name="title" content="{{metaTitle}}">
    {{/if}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
        integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/assets/css/theme.css?theme=boilerplate&ver=1.47">
    <link rel="canonical" href="{{canonical}}" />
    <style>
        :root {
        {{#each settingsColors}}
            {{{this.key}}}: {{{this.value}}};
        {{/each}}
        }
    </style>
</head>

<body {{#if top_message}}style="padding-bottom: 100px;"{{/if}}>
<div class="contenitore">

<!--Carrello-->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="cart" aria-hidden="true">
    <div class="cart modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel2">Your cart:</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body js-cart_list c-cart">
                <!-- I prodotti del carrello vanno qui (added via js) -->
            </div>
            <div class="modal-body">
                <div class="d-flex"> 
                    <p class="mr-3">Subtotal:</p> 
                    <h6><span class="js-price">0,00€</span></h6>
                </div>
                <a class="btn btn-outline-primary" data-toggle="modal" data-target="#cart">Continue Shopping</a>
                <a href="/checkout" class="btn btn-primary">CHECKOUT</a>
            </div>
        </div>
    </div>
</div>
<!--Prodotto singolo del carrello-->
<div style="display: none;">
    <div class="js-cart-item-tpl product">
        <div class="form-row">
            <div class="form-group col-2">
                <img class="rounded img-fluid" src="" alt="Card image cap">
            </div>
            <div class="form-group col">
                <h4 class="js-cart-item-name mb-0"></h4>
            </div>
            <div class="form-group col-auto">
                <div class="dropdown js-dropdown">
                    <button class="btn btn-secondary dropdown-toggle qt" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        0
                    </button>
                    <div onclick="return false" id="productQty" class="dropdown-menu"
                        aria-labelledby="dropdownMenuButton">
                        <a onclick="updateProduct(this)" class="dropdown-item page-link" href="">1</a>
                        <a onclick="updateProduct(this)" class="dropdown-item page-link" href="">2</a>
                        <a onclick="updateProduct(this)" class="dropdown-item page-link" href="">3</a>
                        <a onclick="updateProduct(this)" class="dropdown-item page-link" href="">4</a>
                        <a onclick="updateProduct(this)" class="dropdown-item page-link" href="">5+</a>
                    </div>
                </div>
            </div>
            <div class="form-group ml-2 col-auto text-right">
                <h5 class="money mb-0">0,00€</h5>
            </div>
            <div class="form-group col-1">
                <a onclick="removeProduct(this); return false" class="remove"><i class="material-icons">close</i></a>
            </div>
        </div>
    </div>
</div>

<!--Navbar top-->
<nav class="top-message">
    {{top_message}}
</nav>
<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-light" {{#if top_message}}style="margin-top:2rem;"{{/if}}>
  <a class="navbar-brand" href="/"><img src="{{logoURL}}" /></a>
<div class="mobile-toggle">
     <span class="navbar-toggler-icon"></span>
</div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        {{#each menu.main.links}}
        <li class="nav-item {{#if isActive}}active{{/if}} {{#ifNotEquals links.length 0}}dropdown{{/ifNotEquals}}">
            <a class="nav-link {{#ifNotEquals links.length 0}}dropdown-toggle{{/ifNotEquals}}" href="{{url}}" {{#ifNotEquals links.length 0}}id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{{/ifNotEquals}}>
                {{title}}
            </a>
            {{#ifNotEquals links.length 0}}
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {{#each links}}
                    <li class="{{#if isActive}}active{{/if}}{{#ifNotEquals links.length 0}}dropdown{{/ifNotEquals}}">
                        <a class="dropdown-item {{#ifNotEquals links.length 0}}dropdown-toggle{{/ifNotEquals}}" href="{{url}}" {{#ifNotEquals links.length 0}}id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{{/ifNotEquals}}>{{title}}</a>
                        {{#ifNotEquals links.length 0}}
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {{#each links}}
                                    <li class="{{#if isActive}}active{{/if}}{{#ifNotEquals links.length 0}}dropdown{{/ifNotEquals}}">
                                        <a class="dropdown-item " href="{{url}}">{{title}}</a>
                                    </li>
                                {{/each}}
                            </ul>
                        {{/ifNotEquals}}
                    </li>
                {{/each}}
            </ul>
            {{/ifNotEquals}}
        </li>
        {{/each}}
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/user/account">
                <div class="nav-icon">
                    <i class="material-icons">person</i>
                </div>
            </a>
        </li>
        <li class="nav-item list-inline-item mr-4">
            <a class="nav-link" id="open-cart" data-toggle="modal" data-target="#cart">
                <div class="nav-icon">
                    <i class="material-icons">shopping_cart</i>
                    <span id="my-cart-count">0</span>
                </div>
            </a>
        </li>
    </ul>
   <form class="form-inline my-2 my-lg-0" action="/search" method="get" role="search">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<nav id="mobile-navigation" {{#if top_message}}style="margin-top:2rem;"{{/if}}>
    <div class="" style="margin:2rem;">
        {{#each menu.main.links}}
            <a class="nav-link" href="{{url}}">{{title}}</a>
            {{#ifNotEquals links.length 0}}
            {{#each links}}
            <a class="nav-link" href="{{url}}">{{title}}</a>
                {{#ifNotEquals links.length 0}}
                {{#each links}}
                <a class="nav-link" href="{{url}}">{{title}}</a>
                {{/each}}
                {{/ifNotEquals}}
            {{/each}}
            {{/ifNotEquals}}
        {{/each}}
    </div>
</nav>


<!--Modal mostrata dopo l'aggiunta di un prodotto al carrello-->
<div id="afterAddToCart" class="modal" style="display:none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-check"> </i> Hai aggiunto <b>1 prodotto</b> al carrello</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 <table>
                    <tbody>
                        <tr>
                            <th class="p-2">
                                <img class="mb-0 js-image" src="" style="max-height: 4rem;">
                            </th>
                            <th class="p-2 w-100">
                                <h4 class="mb-0 js-name"></h4>
                            </th>
                            <th class="p-2 min">
                                <h5 class="mb-0 js-price"></h5>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <a href="/cart" class="btn btn-light mr-4">Visualizza il carrello</a>
                <a href="/checkout" class="btn btn-primary">Procedi all'acquisto</a>
            </div>
        </div>
    </div>
</div>

    {{{body}}}
</div>



    <footer class="mt-5">  <!--Voci del footer modificabili dalla Dashboard > Canali > Shop > Navigazione > Footer-->
    
       <div class="container">
           <div class="row py-4 mb-5">
                {{#each features}}
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <i class="material-icons mt-1 mr-4">{{image}}</i>
                        <div class="text-left">
                            <h5>{{name}}</h5>
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
           <div class="row justify-content-left">
                {{#each menu.bottom.links}}
                    <div class="col-md-4">
                        <ul class="list-inline">
                            <li class="title">
                                <a href="{{url}}">{{title}}</a>
                            </li>
                            {{#ifNotEquals links.length 0}}
                                {{#each links}}
                                    <li>
                                        <a href="{{url}}">{{title}}</a>
                                    </li>
                                    {{#ifNotEquals links.length 0}}
                                        {{#each links}}
                                            <li>
                                                <a href="{{url}}">{{title}}</a>
                                            </li>
                                        {{/each}}
                                    {{/ifNotEquals}}
                                {{/each}}
                            {{/ifNotEquals}}
                        </ul>
                    </div>
                {{/each}}
           </div>  
           <div class="row my-5">
                <div class="col-12 text-left mb-3">

                {{#each menu.social.links}}
                    <a href="{{url}}" class="mr-3 social_icon_{{title}}"><span>{{title}}</span></a>
                {{/each}}
                </div>
                <div class="col-12 d-flex text-center">
                    {{{bottom_line}}} <!--Modificabile dalla Dashboard > Canali > Shop > Configurazione > Piè di pagina (footer)-->
                    <div class="d-flex ml-auto justify-content-center">
                        <img src="/public/assets/images/Brand/logo.svg" class="mr-2" />
                        <p class="mb-0">Powered by Vidra</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <div style="display:none" class="backdrop" id="afterAddToCart open-cart"
        onclick="openCartAside(this); return false"></div>

    <div class="loader animated">
        <div class="<!--e-loading-->"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="/public/assets/js/plugins.min.js"></script><!-- ap plugins -->

    <script src="https://vidra-io.github.io/cdn/files/webshop/webshop-0.0.1.min.js" id="unique-cart"></script>

    <script src="/public/assets/js/main.min.js"></script>

    <script>
        (function($){
            $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
            if (!$(this).next().hasClass('show')) {
                $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
            }
            var $subMenu = $(this).next(".dropdown-menu");
            $subMenu.toggleClass('show');

            $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
                $('.dropdown-submenu .show').removeClass("show");
            });

            return false;
            });
        })(jQuery)
    </script>
    <script>
        function setCartCount(count) {
            $('#my-cart-count').text(count);
        }
        function getTot(el) {
            return el.cart.items.reduce((acc, el) => acc + parseInt(el.quantity), 0);
        }
        function removeProduct(id) {
            const product_id = $(id).data('pid');
            window.UniqueCart.removeFromCart(product_id)
                .done(function (data) {
                    setCartCount(getTot({ cart: data }));
                    updateCartFlyout(data);
                }).fail(function (e) {
                    console.log('err....', e);
                })

        }
        function updateQtyInput(id, qt, el) {
            const input = `<div class="edit-qt js-input my-auto">
            <input oninput="changeQty(this)" type="number" class="quantity" name="" value="5">
            <div onclick="updateInputProduct(this)" class="confirm-qt js-change-qty" style="display: none;">
                <i class="far fa-check-circle"></i>
            </div>
        </div>`;
            const $parent = $(el).parent();
            const currQt = $(el).siblings('button').text();
            if ((qt === '5+' || parseInt(qt) > 4) && $parent.hasClass('js-dropdown')) {
                const $newEl = $(input).clone();
                $newEl.data('pid', id);
                $newEl.find('input').val(currQt);
                $parent.replaceWith($newEl)
            }
        }
        function changeQty(el) {
            $(el).siblings('.js-change-qty').css("display", "inline")
        }
        function sendUpdate(id, qt) {
            window.UniqueCart.updateItemQt(id, qt)
                .done(data => {
                    console.log('**** update product', data, id, qt)
                    setCartCount(getTot({ cart: data }));
                    updateCartFlyout(data);
                    //$('#dropdownMenuButton').text(qt)
                }).fail(function (e) {
                    console.log('err....', e);
                })
        }
        function updateInputProduct(el) {
            const id = $(el).parent().data('pid');
            const qt = $(el).siblings('input.quantity').val();
            sendUpdate(id, qt)
        }
        function updateProduct(el) {
            const id = $(el).parent().data('pid');
            const qt = $(el).text();
            if (qt === '5+') {
                const currQt = $(el).siblings('button').text();
                return updateQtyInput(id, qt, $(el).parent())
            }
            sendUpdate(id, qt)
        }
        function formatNumb(num) {
            if (isNaN(num)) return 0;
            return parseFloat(num).toFixed(2).replace(/\./,',').replace(/\d(?=(\d{3})+\,)/g, '$&.');
        }
        function updateCartFlyout(cart) {
            const cartList = $('.js-cart_list');
            $('span.js-price').html('€ ' + formatNumb(cart.total));
            cartList.empty();
            cart.items.forEach((i) => {
                console.log('***** el', i.quantity)
                const item = $(".js-cart-item-tpl").first().clone();
                item.removeClass('js-cart-item-tpl');
                item.find('img')
                    .attr("src", i.image);
                item.find('.js-cart-item-name').text(i.name);
                item.find('.qt').text(i.quantity);
                item.find('.money').text('€ ' + formatNumb(parseFloat(i.price)));
                item.find('#productQty').data('pid', i.id);
                item.find('.remove').data('pid', i.id);
                cartList.append(item);
                //item.appendTo(cartList);
                //$('.sing-product-page').append('ciao')
            });
        }
        if (window.UniqueCart) {
            UniqueCart.subscribe('cart.ready', function (data) {
                console.log('cart is ready', data);
                updateCartFlyout(data.cart);
                setCartCount(getTot(data));
            });
            UniqueCart.subscribe('item.added', function (data) {
                updateCartFlyout(data.cart);
                // this is a good place to track ecommerce events
                // analytics.trackAddToCart(data.item_sent.name);

                // set the cart count
                setCartCount(getTot(data));

                // show a modal for recap and checkout

                $('#afterAddToCart .js-image').attr('src', data.item_sent.image);
                $('#afterAddToCart .js-name').text(data.item_sent.name);
                $('#afterAddToCart .js-price').text(formatNumb(data.item_sent.price) + " €");
                $('#afterAddToCart').modal();
            });
        }
    </script>

    {{#if customCSS}}
    <style>
    {
     {
      {
        customCSS
      }
     }
    }
    </style>
    {{/if}}

    {{#if hasSecretScript}}
    <script type="text/javascript">
        $(function () {
            /*
            * adds 'secret' querystring param to each anchor's href
            */
            $("a").each(function () {
                try {
                    var href = this.href;
                    if (href) {
                        var url = new URL(href);
                        url.searchParams.delete("secret");
                        url.searchParams.append("secret", "{{secret}}");
                        this.href = url.href;
                    }
                } catch (e) {
                    console.error("href: " + this.href, e);
                    // TODO: send to error tracker?
                }
            });
        })
    </script>
    {{/if}}

    <script type="text/javascript">
        function passwordInputController(elementId) {
            const passwordInput = document.getElementById(elementId);
            const inputElement = passwordInput.querySelector('input');
            const icon = passwordInput.querySelector('i');
            const visibilityElement = passwordInput.querySelector('span');
            function toggleVisibility() {
                if (inputElement.type === "password") {
                    icon.innerHTML = 'visibility';
                    inputElement.type = "text";
                } else {
                    inputElement.type = "password";
                    icon.innerHTML = 'visibility_off';
                }
            }
            visibilityElement.onclick = toggleVisibility;
        }
        if ($("#password-input").length) {
            passwordInputController('password-input');
            passwordInputController('repeat-password');
        }
    </script>


    <script>
    $(document).ready(function() {
  function bindNavbar() {
    if ($(window).width() > 768) {
      $('.navbar-default .dropdown').on('mouseover', function(){
        $('.dropdown-toggle', this).next('.dropdown-menu').show();
      }).on('mouseout', function(){
        $('.dropdown-toggle', this).next('.dropdown-menu').hide();
      });
       
      $('.dropdown-toggle').click(function() {
        if ($(this).next('.dropdown-menu').is(':visible')) {
          window.location = $(this).attr('href');
        }
      });
    }
    else {
      $('.navbar-default .dropdown').off('mouseover').off('mouseout');
    }
  }
   
  $(window).resize(function() {
    bindNavbar();
  });
   
  bindNavbar();
});
    </script>

    <script>
   $(".mobile-toggle").on('click', function(){
        $("#mobile-navigation").toggleClass("show");
        $(".hamburger").toggleClass("show");
    });
</script>

{{#if ga_measurement_id}}
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ga_measurement_id}}', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
{{/if}}
</body>
</html>