<!--Dettaglio ordine singolo nella sezione account-->

<div class="container">
  <div class="row text-center">
    <div class="col-12 text-center my-5">
      <h1 class="page-title">
        Ordine {{order.id}}
      </h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <ul class="nav">
        <li class="nav-item">
          <div class="nav-link">Benvenuto, {{account.name}}</div>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/user/account">Dati utente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/user/account/orders">I tuoi ordini</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log out</a>
        </li>
      </ul>
    </div>

      <div class="col-md-8">
        <div class="card my-5">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h5 class="card-title">Data:</h5>
              <p class="card-text">{{formatDate order.created "DD/MM/YY"}}</p>
            </li>
            <li class="list-group-item">
              <h5 class="card-title">Totale:</h5>
              <p class="card-text">€ {{order.total}}</p>
            </li>
            <li class="list-group-item">
              <h5 class="card-title">Stato spedizione:</h5>
              {{#ifEquals order.status "CREATED" }}
                <p class="card-text correct"><i data-toggle="tooltip" class="fas fa-info-circle" title="L'ordine è stato confermato"></i></p>
              {{/ifEquals}}
              {{#ifEquals order.status "WORKING_ON" }}
                <p class="card-text correct"><i class="fas fa-info-circle" title="L'ordine è in lavorazione"></i></p>
              {{/ifEquals}}
              {{#ifEquals order.status "READY" }}
                <p class="card-text correct"><i class="fas fa-info-circle" title="In attesa di ritiro da parte del corriere"></i></p>
              {{/ifEquals}}
              {{#ifEquals order.status "SHIPPED" }}
                <p class="card-text correct"><i class="fas fa-info-circle" title="L'ordine è stato spedito"></i></p>
              {{/ifEquals}}
              {{#ifEquals order.status "READY" }}
                <p class="card-text correct"><i class="fas fa-info-circle" title="L'ordine è stato consegnato"></i></p>
              {{/ifEquals}}
              {{#ifEquals order.status "UNKNOWN" }}
                <p class="card-text waiting"><i class="fas fa-exclamation-circle" title="Impossibile ottenere informazioni sullo stato dell'ordine"></i></p>
              {{/ifEquals}}
              {{#ifEquals order.status "CANCELLED" }}
                <p class="card-text error"><i class="fas fa-exclamation-circle" title="L'ordine è stato annullato"></i></p>
              {{/ifEquals}}
            </li> 
            <li class="list-group-item">
              <h5 class="card-title">Spedizione:</h5>
              <p class="card-text">€ {{#ifEquals '0' order.shipment.rate.cost}}0{{else}}{{order.shipment.rate.cost}}{{/ifEquals}}</p>
            </li>
            <li class="list-group-item">
              <h5 class="card-title">Totale:</h5>
              <p class="card-text">€ {{order.total}}</p>
            </li>
          </ul>
          <div class="modal-body">
            <table>
              <tbody>
                {{#each order.cart.items}}
                  <tr>
                      <th class="p-2">
                          <img class="object-fit-4" src="{{image}}"/>
                      </th>
                      <th class="p-2 w-100">
                          <h4 class="mb-0 mr-2">{{name}}</h4>
                      </th>
                      <th class="p-2 min">
                          <h5 class="mb-0">€ {{price}}</h5>
                      </th>
                      <th>
                        {{#ifNotEquals '1' quantity}}{{#ifNotEquals '0' quantity}}<div class="amount">x{{quantity}}</div>{{/ifNotEquals}}{{/ifNotEquals}}
                      </th>
                  </tr>
                  {{/each}}
              </tbody>
            </table>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a class="mt-2 btn btn-outline-secondary"><i class="fas fa-print" onclick="window.print();return false;"></i> Stampa ordine</a>
              {{#if order.tracking.url}}
                <a href="{{order.tracking.url}}" class="btn btn-outline-secondary">Traccia spedizione</a>
              {{/if}}
            </li>
          </ul>
    </div>
      <a href="/user/account/orders" class="btn btn-primary">Torna agli ordini</a>
  </div>
</div>
</div>
