<section class="t-page__section c-profile">
  <div class="container">
     <div class="row text-center">
       <div class="col title">
          <p>Dati utente / Ordini</p>
          <h3>Ordini</h3>
       </div>
     </div>
    <div class="row">
      <div class="col-3 side-navigation">
          <ul>
            <li class="welcome">
              Benvenuto, {{account.name}}
            </li>
            <li>
              <a href="/user/account">Dati utente</a>
            </li>
            <li class="active">
              <a href="/user/account/orders">I tuoi ordini</a>
            </li>
            <li>
              <a href="/logout">Log out</a>
            </li>
          </ul>
      </div>
      <div class="col-9">

    {{#each orders}}
      <div class="card mb-4">
        <div class="header">
          <div class="head-title">
            <div class="ordine">
              <h4>Numero ordine:</h4>
              <p>{{id}}</p>
            </div>
            <div class="column">
              <span><h4>Data: </h4><p class="break-date">{{created}}</p></span>
              <span><h4>Totale: </h4><p>{{total}} €</p></span>
            </div>
            <div class="column mt-0">
              <!--<span class="correct"><h4>Stato pagamento: </h4><p><i class="fas fa-check-circle"></i> Completato</p></span>-->
              <!--<span class="waiting"><h4>Stato spedizione: </h4><p><i class="fas fa-exclamation-circle"></i> In attesa</p></span>-->
            </div>
          </div>
          <div class="actions">
            <a href="/user/account/orders/{{id}}">Dettagli ordine</a>
          </div>
        </div>
        <div class="body">
          {{#each cart.items}}
          <div class="campo">
            <img class="product" src="{{image}}"/>
            <div class="text">
              <h4>{{name}}</h4>
              <p>€ {{price}}</p>
            </div>
            {{#ifNotEquals '1' quantity}}{{#ifNotEquals '0' quantity}}<div class="amount">x{{quantity}}</div>{{/ifNotEquals}}{{/ifNotEquals}}
          </div>
          {{/each}}
        </div>
      </div>
      {{else}}
      <div class="body-head">
        <div class="text error">
          <h3>
            Non hai ancora fatto un acquisto.
          </h3>
          <p>
            Perchè non diventi subito un cliente? <br/>
            <a href="/">Compra qualcosa!</a>
          </p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>


