<!--Pagina di un prodotto singolo-->

  <div class="container">
    <div class="row">
      <div class="col my-5">
          {{#if firstProductCollection}}
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">
                <a href="/collections/{{firstProductCollection.slug}}/{{firstProductCollection.external_id}}">
                  {{firstProductCollection.name}}
                </a>
              </li>
            </ol>
          </nav>
          {{/if}}
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6 ">
        {{#if selected_variant.images}}
          {{#each selected_variant.images}}
            <a href="{{this}}">
              <img class="rounded mb-4 img-fluid" width="" src="{{this}}" title="{{../selected_variant.name}}">
            </a>
          {{/each}}
        {{else}}
          <img class="rounded mb-4 img-fluid" width="" src="{{shopURL}}/public/assets/images/products/empty.jpg" title="{{../selected_variant.name}}">
        {{/if}}
      </div>

      <div class="offset-md-1 col-md-5">
        <h1 class="mb-4">{{selected_variant.name}}</h1>
        <h3 class="mb-4">{{selected_variant.sku}}</h3>
        <h5>{{format_money selected_variant.price}}€</h5>
        {{#ifEquals selected_variant.qt 0}}
          <button class="btn btn-success unique-cart-add-item disabled my-4">Il prodotto non è disponibile</button>
        {{else}}
          <button class="btn btn-success unique-cart-add-item my-4"
          data-name="{{selected_variant.name}}" 
          data-weight="{{selected_variant.weight}}" 
          data-price="{{selected_variant.price}}" 
          data-virtual="{{selected_variant.virtual}}"
          data-url="{{selected_variantDataUrl}}" 
          data-description="{{selected_variant.description}}" 
          data-id="{{selected_variant.sku}}" 
          data-image="{{#if selected_variant.images}}{{selected_variant.images.[0]}}{{else}}{{shopURL}}/public/assets/images/products/empty.jpg{{/if}}">Aggiungi al carrello</button>
        {{/ifEquals}}

        {{#if product.has_only_default_variant}}

        {{else}}

        <!--<div class="options">
          Varianti con Select:
          {{#each product.options_with_values}}
          {{this.name}}<select id="option_{{~@index~}}" onchange="redirectToVariant()">
            {{#each this.values}}<option value="{{this}}" {{#ifCond this '===' (lookup ../../selected_variant.options @../index)}}selected="selected"{{/ifCond~}}>{{this}}</option>{{/each}}
          </select>
          <br>
          {{/each}}
        </div>-->
<!--
        <script>
          
          const variants = JSON.parse(`{{{variants_json}}}`);
          function redirectToVariant() {
            const vals = [];
            const max_vals = {{product.options_with_values.length}};
            for (i=0; i < {{product.options_with_values.length}}; i++) {
              const el = document.getElementById('option_'+i);
              const val = el.options[el.selectedIndex].value;
              vals[i] = val;
            }
            for (i=0; i < variants.length; i++) {
              const variant = variants[i];
              if (variant.options[0] === vals[0]) {
                if (max_vals === 1) {
                  return window.location.href = variant.url;
                }
                if (variant.options[1] === vals[1]) {
                  if (max_vals === 2) {
                    return window.location.href = variant.url;
                  }
                  if (variant.options[2] === vals[2]) {
                    if (max_vals === 3) {
                      return window.location.href = variant.url;
                    }
                  }
                }
              }
            }
            alert('Variante non disponibile per queste opzioni');
          }
        </script>-->

        <!--<div class="variant">
          Varianti con foto
          {{#each product.variants}}
            <div class="media mb-3">
              <img class="mr-3" width="64" src="{{this.images}}"/>
              <div class="media-body">
                <a href="{{this.url}}">{{this.sku}} - {{this.name}}</a>
              </div>
            </div>
          {{/each}}
        </div>-->

        
        <div class="variant">
          Varianti con foto
          <div class="row text-center text-lg-left">
          {{#each product.variants}}
              <div class="col-md-2 col-4">          
                <a class="d-block mb-4 h-100" {{#ifEquals this.qt 0}}{{else}}href="{{this.url}}"{{/ifEquals}}>    
                  <img class="img-fluid img-thumbnail mr-3 {{#ifEquals this.qt 0}}bg-danger{{/ifEquals}}" src="{{#if this.images}}{{this.images.[0]}}{{else}}../../public/assets/images/products/empty.jpg{{/if}}"/>
                </a>
              </div>
          {{/each}}
          </div>
        </div>

        {{/if}}
        

        <div>
          <h3 class="mb-2">Info prodotto:</h3>
          {{{product.description}}}
        </div>

      </div>
    </div>
  </div>

