
<section class="t-page__section c-product">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text-center">
          {{#if firstProductCollection}}
          <nav aria-label="breadcrumb" class="c-breadcrumb">
            <ol class="breadcrumb c-breadcrumb__list">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">
                <a href="/collections/{{firstProductCollection.slug}}/{{firstProductCollection.external_id}}">
                  {{firstProductCollection.name}}
                </a>
              </li>
              {{!-- <li class="breadcrumb-item active" aria-current="page">Clothing</li> --}}
            </ol>
          </nav>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row c-product__gallery">
          <div class="col-sm-10 order-xs-1 order-sm-2">
            <img class="xzoom img-fluid" id="xzoom-default" src="{{product.images.[0]}}" xoriginal="{{product.images.[0]}}" />
          </div>
          <div class="col-sm-2 order-xs-2 order-sm-1 mb-4">
            <div class="xzoom-thumbs">
              {{#each product.images}}
              <a href="{{this}}">
                <img class="xzoom-gallery img-fluid" width="80" src="{{this}}" xpreview="{{this}}" title="{{../product.name}}">
              </a>
              {{/each}}
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-5 offset-md-1 product">
        <h1 class="c-product__title">{{product.name}}</h1>
        <h2 class="c-product__subtitle">{{product.sku}}</h2>
        <div class="c-product__price">
        {{format_money product.price}}€<!--<span data-toggle="modal" data-target="#modalSpedizione">Costi di spedizione</span>-->
        </div>
        {{#ifEquals product.qt 0}}
        <button class="btn btn-success btn-xlg btn-block unique-cart-add-item disabled">Il prodotto non è disponibile</button>
        {{else}}
            <button class="btn btn-success btn-xlg btn-block unique-cart-add-item"
            data-name="{{product.name}}" 
            data-weight="{{product.weight}}" 
            data-price="{{product.price}}" 
            data-virtual="{{product.virtual}}"
            data-url="{{productDataUrl}}" 
            data-description="{{product.description}}" 
            data-id="{{product.sku}}" 
            data-image="{{product.images.[0]}}">Aggiungi al carrello</button>
        {{/ifEquals}}


        <div class="c-product__info">
          <h3 class="c-product__info-title">Info prodotto:</h3>
          {{{product.description}}}
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Modal Costi di spedizione -->
<div class="modal fade" id="modalSpedizione" tabindex="-1" role="dialog" aria-labelledby="modalSpedizione" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalSpedizioneLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="c-prefooter">
  <div class="c-prefooter__text">
    <strong>PAY WITH:</strong><br />
    <ul class="list-inline">
      <li class="list-inline-item"><img src="/public/assets/images/Brand/MASTERCARD.png" /></li>
      <li class="list-inline-item"><img src="/public/assets/images/Brand/VISA.png" /></li>

    </ul>
  </div>
</div>
