<!--Pagina di un prodotto singolo-->

  <div class="container">
    <div class="row">
      <div class="col my-5">
          {{#if firstProductCollection}}
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">
                <a href="/collections/{{firstProductCollection.slug}}/{{firstProductCollection.external_id}}">
                  {{firstProductCollection.name}}
                </a>
              </li>
            </ol>
          </nav>
          {{/if}}
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6 ">
        {{#each product.images}}
          <a href="{{this}}">
            <img class="rounded mb-4 img-fluid" width="" src="{{this}}" xpreview="{{this}}" title="{{../product.name}}">
          </a>
        {{/each}}
      </div>

      <div class="offset-md-1 col-md-5">
        <h1 class="mb-4">{{product.name}}</h1>
        <h3 class="mb-4">{{product.sku}}</h3>
        <h5>{{format_money product.price}}€</h5>
        {{#ifEquals product.qt 0}}
          <button class="btn btn-success unique-cart-add-item disabled my-4">Il prodotto non è disponibile</button>
        {{else}}
          <button class="btn btn-success unique-cart-add-item my-4"
          data-name="{{product.name}}" 
          data-weight="{{product.weight}}" 
          data-price="{{product.price}}" 
          data-virtual="{{product.virtual}}"
          data-url="{{productDataUrl}}" 
          data-description="{{product.description}}" 
          data-id="{{product.sku}}" 
          data-image="{{product.images.[0]}}">Aggiungi al carrello</button>
        {{/ifEquals}}


        <div>
          <h3 class="mb-2">Info prodotto:</h3>
          {{{product.description}}}
        </div>

      </div>
    </div>
  </div>

