<section class="t-page__section">
  <div class="c-cards">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
        <form action="/search" method="get" class="input-group search-bar search-bar--page" role="search">

          <input type="search" name="q" value="" placeholder="Search our store" class="input-group-field"
            aria-label="Search our store">
          <span class="input-group-btn">
            <button type="submit" class="btn icon-fallback-text">
              <span class="icon icon-search" aria-hidden="true"></span>
              <span class="fallback-text">Search</span>
            </button>
          </span>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="t-page__section">
  <div class="c-cards">
    <div class="container">
      {{#if searchQuery}}
        {{#ifNotEquals total 0}} <p>Risultati ricerca per: {{searchQuery}}</p>{{/ifNotEquals}}
        {{#ifEquals total 0}} <p>Nessun risultato</p> {{/ifEquals}}
      {{else}}
        <p>Ricerca</p>
      {{/if}}
    </div>
  </div>
</section>


<section class="t-page__section">
  <div class="c-cards">
    <div class="container">
      <div class="row">
       {{#each products}}
						<div class="col-lg-4 col-6">
							<a href="{{url}}" class="">
								<div class="card c-card__item">
								{{#if isNew}}
								<span class="badge badge-pill badge-success c-card__badge c-card__badge--sx">New</span>
								{{/if}}
								{{!-- <img class="card-img-top c-card__img" src="{{images.[0]}}" alt="Card image cap"> --}}
								<div class="img-container">
									<img class="card-img-top c-card__img" src="{{images.[0]}}" alt="Card image cap">
								</div>
								<div class="card-body c-card__body">
									<h5 class="card-title c-card__title">{{name}}</h5>
									<span class="c-card__price">{{price}}</span>
									<div class="clearfix"></div>
								
								</div>
								</div>
							</a> 
						</div>
					{{/each}}
      </div>
    </div>
  </div>
</section>


	<section class="t-page__section">
						<div class="container">
							<div class="row justify-content-end">
									{{#if paginator.prev}}
										<a class="page-link pagination" href="{{paginator.prev}} "><i class="material-icons">chevron_left</i></a>
									{{else}}
										<a class="page-link pagination disabled"><i class="material-icons">chevron_left</i></a>
									{{/if}}
									<a class="page-link pagination"><p>Pagina {{paginator.current}} di {{paginator.totalPage}}</p></a>
								{{#if paginator.next}}
									<a class="page-link pagination" href="{{paginator.next}}"><i class="material-icons">chevron_right</i></a>
								{{else}}
									<a class="page-link pagination disabled"><i class="material-icons">chevron_right</i></a>
								{{/if}}
							</div>
						</div>
					</section>